<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="server" value="78.46.43.211" />
    <add key="userId" value="akara_tomcat" />
    <add key="password" value="tomcat" />
    <add key="port" value="3306" />
    <add key="database" value="akara_inteamtest" />
  </appSettings>
  </configuration>